// Home Content
//fixed navigation
.Nav{
position: fixed;
top: 0;
width: 100%;
background-color: rgba(246, 246, 246, 0.5) ;
text-align: center;
font-family: @nav-font;
padding: 1%;
font-size: 20px;

}
#a {color: @river-bend;
  padding: 1%;

}

h1 {
  color:@header-font-color;
  font-size: 50px;
  margin-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.home {

  .intro {
    padding-top: 16%;
    h2 {
      padding: 15px;
    }
    h2 {
      .fonts()
    }

    p {
      padding:0 15px;
    }

  }

  .space-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    img {
      .spaceimgs();
    }
  }

  .visit-planets {
    padding: 15px;

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
    }
  }

  .walk {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    display: flex;
    justify-content: center;

    .walk-text {
      width: 50%;

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 26px;
      }
    }
      .btn {
      .custom-btn();
      &:hover{
        color:red;
        background-color:white;
      }
      }


    .walk-img {
      width: 46%;
      margin-left: 4%;

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  }
}// home
